@charset "utf-8";
/* CSS Document */

body{
	background-color: #EDEDED;
}
#welcometext{
	align-content: center;
	width: 32%;
	height: 10%;
	margin-left: 34%;
	margin-right: 34%;
	font-size: 2.5vw;
	font-style: oblique;
	color: #303030;
	
}
#mainholder{
	width: 100%;
	height: 800px;
	border: 1px solid #989898;
}
#welcomehold{
	background: #F8F8F8;
	width: 100%;
	height: 50%;
	z-index: 4px;
	border-bottom: 1px solid #989898;
	border-top: 1px solid #989898;

}
#btnhold{
	margin-left: 43%;
}
#logintogglebutton{
	width: 10%;
	background: #3FB693;
	border: none;
	border-radius: 2px;
	font-size: 1.3vw;
	margin-bottom: 1%;
	font-size: 1vw;
}
#logintogglebutton:hover{
	background: #2E2E2E;
	color: #FAFAFA;
}
#signuptogglebutton{
	width: 10%;
	background: #3FB693;
	border: none;
	border-radius: 2px;
	color: #1E1E1E;
	font-size: 1.3vw;
	margin-bottom: 1%;
	font-size: 1vw;

}
#signuptogglebutton:hover{
	background: #2E2E2E;
	color: #FAFAFA;
	
}
#contexthold{
	height: 100%;
}
#slidehold{
	width: 70%;
	height: 80%;
	float: left;
	border-right: 1px solid #989898;
	border-bottom: 1px solid #989898;
}
#img1{
	background: url(img.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#aboutweb{
	float: right;
	width: 29%;
	font-size: 1.3vw;
	border-bottom: 1px solid #989898;
	height: 79%;

}
#loginhold{
	width: 100%;
	height: 100%;
	transform: translateY(-100.5%);
	visibility: hidden;
}

#logintext{
	height: 20%;
	width: 25%;
	font-size: 3vw;
	color: #3FB693;
	transform: translateX(180%) translateY(170%);
	
}
#loginform{
	height: 20%;
	width: 25%;
	transform: translateX(150%) translateY(110%);
}
#username{
	width: 100%;
	height: 25%;
	border: none;
	font-size: 1vw;
}
#password{
	width: 100%;
	height: 25%;
	margin-top: 1%;
	border: none;
	font-size: 1vw;
}
#loginsubmit{
	width: 100%;
	height: 25%;
	margin-top: 1%;
	border: none;
	background: #3FB693;
	font-size: 1vw;
}
#signuphold{
	width: 100%;
	height: 100%;
	transform: translateY(-210%);
	visibility: hidden;
}
#signupform{
	height: 20%;
	width: 25%;
	transform: translateX(150%) translateY(50%);
}
#signtext{
	height: 20%;
	width: 25%;
	font-size: 3vw;
	color: #3FB693;
	transform: translateX(170%) translateY(110%);
	
}
#signupsubmit{
	width: 100%;
	height: 25%;
	margin-top: 1%;
	border: none;
	background: #3FB693;
	font-size: 1vw;
}
#sfirstname,#slastname,#sgender,#stitle,#susername,#spassword,#ssubject{
	width: 100%;
	height: 25%;
	margin-top: 1px;
	border: none;
	padding-left: 1%;
	font-size: 1vw;
}
@media screen and (max-width: 1920px){
	#mainholder,#welcomehold{
		width: 100%; 
		
	}
	#welcometext{
		width: 32%;
		margin-left: 34%;
		font-size: 2.5vw;
	}
}



@media screen and (max-height: 1000px){
	#welcomehold{
		height: 10%; 
		
	}
	#mainholder{
		height: 100%; 
		
	}
	#contexthold{
		height: 700px;
	}
}
@media screen and (max-height: 500px){
	#contexthold{
		height: 500px;
	}
}
@media screen and (max-height: 200px){
	#contexthold{
		height: 200px;
	}
}
